<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Sina Eizadshenass</h1>
                <h3>Full-Stack Software Developer</h3>
                <h5>Web Application Development, Mobile App Develoment, <br/>Cross Platform Mobile Applications, <br/> Process Automation and Website Design</h5>		
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->